
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

body{
	background: url(../images/svg/Mobile_payments.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.content{
	background: transparent;
	margin-top: 120px;
	margin-bottom: 40px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 40px;
	box-shadow: 0px 6px 12px hsla(0, 1%, 35%, 0.966);
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background:rgb(56, 148, 190);
    box-shadow: 0px 6px 12px #8c8c8c;

}

.logo{
    color: #d9d9d9;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #ff944d;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
    text-decoration: none;

}
.navbar a{
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    margin-left: 30px;
    font-weight: 550;

}


header .navbar li a:hover:not(.active){
    color: #fb911f;;
    border-bottom:2px solid #fb911f;
    font-weight: 650;
    
}

header.sticky .navbar li .active{
	color: #fb911f;
	font-weight: 720;
}

header ul li .active{
	color:  #fb911f;
	font-weight: 720;
}

header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.5);

}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color:rgb(56, 148, 190);
    font-weight: 700;
}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}


	/*Desktop and Tablette*/
@media screen and (max-width: 992px){
	header, 
	header.sticky{
	    padding: 20px 10px;
	}

	header .navbar li{
	    margin-left: 0px;
	    margin-bottom: 12px;
	}

	header .navbar li a {
	    text-decoration: none;
	    color: rgb(56, 148, 190);
	    font-size: 0.7em;
	    font-weight: 600;
		text-align: left;
	}
	header ul li .active{
		color: #fb911f;
		font-weight: 800;
	}
	header.sticky .navbar li .active{
		color: #fb911f;
		font-weight: 800;
	}

	.navbar{
	    display: none;
	}
	section{
	    padding: 20px;
	}

	header .navbar.active{
	    width: 100%;
	    height: calc(100% -68px);
	    position: fixed;
	    top: 80px;
	    left:0;
	    display: flex;
	    justify-content: left;
	    flex-direction: column;
	    background: rgb(235, 230, 230);
	    align-items: left;

	}

	.menuToggle{
	    position: relative;
	    width: 40px;
	    height: 40px;
	    background-image: url(../images/menu.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    cursor: pointer;
	    background-size: 30px;
	}

	.menuToggle.active{
	    background-image: url(../images/close.png);
	    background-size: 25px;
	    background-repeat: no-repeat;
	    background-origin: center;
	}
	
	header.sticky .menuToggle{
	    filter: invert(1);
	}

	.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	}

	.col2 .form .button-transaction{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.col2 .form .button-transaction .btn-form{
		width: 120px;
		height: 28px;
		margin-left: 6px;
	}

}
	
	/*phones*/
@media screen and (max-width: 768px){

	.content .col1 li{
	font-size: 10.5px;

	}

	.content .col1 li span{
	font-size: 20px;
	}

	.col2 .form .form-transaction input[type=text]{

	border-bottom: 1.5px solid #ff944d;

	}

	.col2 .form input[type=radio], .Description{
	padding-left: 6px;
	padding-right: 12px;
	color: #ffffff;
	font-size: 10px;
	width: 10px;
	}


	.col2 .form .button-transaction{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.col2 .form .button-transaction .btn-form{
		width: 80px;
		height: 28px;
		margin-left: 6px;
	}

	.col2 .form .form-transaction label{
		font-size: 11px;
	}

	.col2 .form .form-transaction .Min{
		font-size: 8px;
	}

}

.content{
	display: flex;
	flex-direction: nowrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.content li{
	list-style-type: none;
	color: hsla(151, 21%, 24%, 0.863);
	font-size: 16px;
	font-family: Comic Sans MS, Bradley Hand ITC;

}

.content li span{
	color: hsla(180, 82%, 21%, 0.952);
	font-size: 24px;
	font-weight: 600;
	font-family: Comic Sans MS, Bradley Hand ITC;
}


.col1, .col2 {
	width: 100%;
}

.col1 .titre{
	color: hsla(170, 3%, 38%, 0.938);
	font-size: 22px;
	font-weight: 700;

}

.col1 .titre span{
	color: rgb(56, 148, 190);
	font-size: 24px;
}



.col2{
	background:#fff;
	box-shadow: 0.5px 4px 16px  hsla(200, 2%, 28%, 0.973);
	border-radius: 40px;

}


.col1, .col2{
	padding: 20px;
}

.col2 .form{
	padding: 20px;
}

.col2 .form input[type=text]{
	width: 100%;
	height: 40px;
	padding: 8px 10px;
	color: hsla(0, 57%, 30%, 0.932);
	font-weight: 700;
	display: inline-block;
	outline: none;
	border-radius: 30px;
	box-sizing: border-box;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 3px solid hsla(30, 12%, 56%, 0.973);
	margin-top: 30px;
	margin-bottom: 30px;

}

::-webkit-input-placeholder{
	color:hsla(186, 30%, 24%, 0.911);
	font-weight: 600;
	font-size: 9.2px;
	
}

.col2 .form .Min{
	float: right;
	color: hsla(165, 61%, 23%, 0.938);
	font-size: 10px;
}
.col2 .form label{
	color: hsla(166, 69%, 43%, 0.884);
	font-weight: 700;
	font-size: 16px;
}

.col2 .form .Mobile-money{
	display: block;
	margin-bottom: 20px;
}

.col2 .form input[type=radio], .Description{
	padding-left: 10px;
	padding-right: 20px;
	color: hsla(36, 80%, 28%, 0.966);
	font-size: 14px;
}

.col2 .form .button-transaction{
		display: flex;
		justify-content: center;
		align-items: center;
}


.col2 .form .btn-form{
	width: 140px;
	height: 36px;
	background-color: #00b36b;
	border:none;
	border-radius: 20px;
	outline: none;
	margin-bottom: 8px;
	margin-left: 6px;
	font-weight: 600;
	transition: 0.6s;
}

.col2 .form .btn-form a{
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
}

.col2 .form .btn-active{
	background-color: #009999;
}

.col2 .form .btn-active a{
	color: #ffffff;
	font-size: 16px;

}

.col2 .form .btn-form:hover{
	background-color:#009999;
}

.col2 .form .btn-form a:hover{
	color:#ffffff;

}

.col2 .form .btn-submit{
	width: 160px;
	height: 38px;
	background-color: #009999;
	border:none;
	border-radius: 20px;
	outline: none;
	color: #ffffff;
	font-size: 14px;
	display: block;
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: 700;
	transition: 0.5s;
}

.col2 .form .btn-submit:hover{
	background-color:#00b36b;
	color: #ffffff;
}

.footer{
	padding-top: 30px;
	text-align: center;
	width: 100%;
	height: 130px;
	box-shadow: 0px 12px 26px #8c8c8c;
	bottom: 0;
	background-color:hsla(199, 67%, 55%, 0.938);
}

.footer p{
	color: #ffffff;
	font-family: Comic Sans MS, Bradley Hand ITC;
	font-size: 12px;
}

.footer p a{
	text-decoration: none;
	color: #00b36b;
}

.footer p a:hover{
	font-size: 14px;
}

.solde-mobile{
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
	width: 100%;
	height: auto;
	box-shadow: 0.5px 8px 20px hsla(0, 2%, 35%, 0.986);
	border-radius: 40px;
	text-align: center;
	display: inline-block;
	justify-content: center;
	align-items: center;
	
}

.solde-mobile h2{
	color: #009999;
	font-family: Comic Sans MS, Bradley Hand ITC;
}

.solde-mobile p{
	color: #ff944d;
	font-weight: 600;
	font-family: Comic Sans MS, Bradley Hand ITC;
	font-size: 12px;
}

.solde-mobile p span{
	font-size: 14.5px;
	font-weight: 550;
	color: #009999;
}

.form .soldePM{
	margin-top: 10px;
	margin-bottom: 20px;
}

.form .soldePM h2{
	color: #009999;
	font-family: Comic Sans MS, Bradley Hand ITC;
}

.form .soldePM p{
	color: #ff944d;
	font-family: Comic Sans MS, Bradley Hand ITC;
	font-size: 11.5px;
}

.form .soldePM p span{
	font-size: 14.5px;
	font-weight: 550;
	color: #009999;
}


